@media screen and (max-width: 600px) {
    .pokedex-template{
        display: none;
    }
    .grid-container{
        top: 0px;
        width: 100%;
        height: 100%;
        background-image: url('img/largerBkgd.png');
        background-size: cover;
    }
    aside{
        position: fixed;
        top: 0;
        left: 100%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    aside .search-input{
        width: 80%;
        padding: 12px;
    }
    aside .submit-input{
        width: 20%;
        padding: 12px;
    }
    .active{
        left: 0;
    }
}
@media screen and (min-width: 800px) {
    .pokedex-template{
        position: relative;
    }
    .grid-container .r0{
        position: absolute;
        top: -5%;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}
body{
    color: #2e8b57;
    height: 100vh;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
}

#myDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokedex-template{
    position: relative;
    width: 100%;
    max-width: 480px;
    background-image: url('img/background.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.grid-container{
    position: absolute;
    display: grid;
    grid-template-areas:"a1 a1 a1 a1"
                        "a2 a3 a3 a4"
                        "a5 a5 a5 a5"
                        "a6 a6 a6 a6"
                        "a7 a7 a7 a7"
                        /* "a8 a8 a8 a8" */
                        "a9 a9 a9 a9"
                        "a10 a10 a10 a10";
    align-items: center;
    gap: 8px;
    width: 100%;
    max-width: 425px;
    text-align: center;
    text-shadow: 1px 1px #353535; 
}
.grid-item{
    padding: 10px;
}
.r1{
    grid-area: a1;
    position: relative;
}
.r2{
    grid-area: a2;
}
.r3{
    grid-area: a3;
}
.r4{
    grid-area: a4;
}
.r5{
    grid-area: a5;
}
.r6{
    grid-area: a6;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.r7{
    grid-area: a7;
}
/* .r8{
    grid-area: a8;
    display: flex;
    justify-content: space-evenly;
} */
.r9{
    grid-area: a9;
    display: flex;
    justify-content: space-evenly;
}
.r0{
    position: absolute;
    right: 0%;
    top: 0%;
}
.r0 img{
    width: 70%;
}
.pkmn-img{
    width: 100%;
}
.pkmn-type{
    width: 30%;
}
.prev-btn, .next-btn{
    cursor: pointer;
    width: 100%;
}
.prev-btn:active, .next-btn:active{
    width: 90%;
}   
.btn{
    width: 50px;
    border: 2px solid #2E8B57;
    box-shadow: -3px 3px 1px rgba(30,30,30,0.5);
    cursor: pointer;
    padding: 4px;
}
.btn:active{
    box-shadow: -1px 1px 1px rgba(30,30,30,0.5);;
}
aside{
    grid-area: a10;
    width: 100%;
    display: none;
    padding-top: 10px;
}
aside input{
    padding: 12px;
}
aside .search-input{
    width: 70%;
}
aside .search-btn{
    width: 30%;
}
.active{
    display: flex;
    justify-content: center;
}