
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

.container{
    display: flex;
    justify-content: center;
}

.wrapper{
    margin-top: 60px;
    border: 8px solid #111;
    border-radius: 16px;
}

body{
    color: #2e8b57;
}

.grid-container{
    display: grid;
    grid-template-areas:"a1 a1 a1 a1"
                        "a2 a3 a3 a4"
                        "a5 a5 a5 a5"
                        "a6 a6 a6 a6"
                        /* "a8 a8 a8 a8" */
                        "a7 a7 a7 a7"
                        "a9 a9 a9 a9"
                        "a10 a10 a10 a10";
    align-items: center;
    gap: 8px;
    max-width: 425px;
    text-align: center;
    text-shadow: 1px 1px #353535; 
    border-radius: 10px;
    position: relative;
    background: url(img/largerBkgd.png);
    background-size: cover;
}
.grid-item{
    padding: 10px;
}
.r1{
    grid-area: a1;
    position: relative;
}
.r2{
    grid-area: a2;
}
.r3{
    grid-area: a3;
}
.r4{
    grid-area: a4;
}
.r5{
    grid-area: a5;
}
.r6{
    grid-area: a6;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.r7{
    grid-area: a7;
}
/* .r8{
    grid-area: a8;
} */
.r9{
    grid-area: a9;
    display: flex;
    justify-content: space-evenly;
}
.r0{
    position: absolute;
    right: 0%;
    top: 0%;
}
.r0 img{
    width: 65%;
}
.pkmn-img{
    width: 100%;
}
.pkmn-type{
    width: 30%;
}
.pkmn-type-container{
    display: flex;
    justify-content: center;
    gap: 2px;
}
.prev-btn, .next-btn{
    cursor: pointer;
    width: 56px;
    height: 56px;
}
.prev-btn:active, .next-btn:active{
    width: 90%;
}   
.btn{
    width: 56px;
    height: 56px;
    border: 2px solid #2E8B57;
    box-shadow: -3px 3px 1px rgba(30,30,30,0.5);
    cursor: pointer;
    padding: 4px;
}
.btn:active{
    box-shadow: -1px 1px 1px rgba(30,30,30,0.5);;
}
aside{
    grid-area: a10;
    display: none;
}
aside input{
    padding: 12px;
}
.active{
    display: flex;
    justify-content: center;
    gap: 2px;
}

@media screen and (max-width: 600px) {
    body{
        background: url(img/largerBkgd.png);
        background-size: cover;
    }
    .grid-container{
        top: 0;
    }
    aside{
        position: fixed;
        top: 0;
        padding: 3px 0 0 3px;
    }
    aside .search-input{
        border-radius: 4px;
        border: 1px solid #2E8B57;
    }
    aside .submit-input{
        border: none;
        background-color: #2E8B57;
        border-radius: 4px;
        color: #fff;
    }
    .wrapper{
        margin-top: 0;
        border: 0;
    }
}


@media screen and (min-width: 800px) {
    .grid-container .r0{
        position: absolute;
        top: 0;
    }
    aside .search-input{
        padding: 12px;
        border-radius: 4px;
        border: 1px solid #2E8B57;
    }
    aside .submit-input{
        padding: 6px;
        border: none;
        background-color: #2E8B57;
        border-radius: 0;
        color: #fff;
    }
}